<ion-view view-title="OccMundial - Eventos Anteriores">
      <ion-content ng-controller="AnterioresCtrl" class="padding">
          <div class="row">
              <div class="col col-70">
              	<a ui-sref="bienvenida"><img src="img/logo.png"   width="100%"></a>
                
              </div>    
              <div class="col col-30">
                    <h2 class="gris_letra_titulo pull-right">Evento Anteriores</h2>
              </div>
          </div>
        <div class="row">
		  <div class="col col-33">
		  	<button class="button button-outline button-positive" ng-click="alfabetico()" style="width:100%;margin:3px">A-Z</button>
		  	<div class="list">

			  <label class="item item-input item-select" style="width:100%;margin:3px 3px -12px 3px">
			    <div class="input-label">
			      Fecha
			    </div>
			    <select ng-options="item as item.fecha for item in fechas track by item.id" ng-model="selected" ng-change="showSelectValue(selected)">
			    </select>
			  </label>

			</div>
		  	<button class="button button-outline button-positive" style="width:100%;margin:3px" ng-click="reciente()">Mas Reciente</button>
		  	<div class="list">

				  <label class="item item-input item-select" style="width:100%;margin:3px 3px -12px 3px">
				    <div class="input-label">
				      Nombres
				    </div>
				    <select ng-options="item as item.nombre for item in nombres track by item.id" ng-model="selectedNombre" ng-change="showSelectValueNombre(selectedNombre)">
				    </select>
				  </label>

				</div>
		  </div>
		  <div class="col col-33">
		  	<ul class="list" >
			    <a ng-click="ir_evento({{evento.id}},{{evento.tipo}})" class="item" ng-repeat="evento in eventos">{{evento.nombre}} - {{evento.tipo}}</a>
			</ul>
		  </div>
		  <div class="col col-33">
		  	<a  ui-sref="nuevo" class="button button-outline button-positive" style="width:100%;margin:3px">Agregar Nuevo Registro</a>
		  </div>
		</div>
      </ion-content>
</ion-view>