<ion-view view-title="OccMundial - Comenzar Registros">
  <ion-content ng-controller="ComenzarCtrl" class="padding">
    <div class="row">
      <div class="col col-70">
        <img src="img/logo.png" width="100%">
      </div>    
      <div class="col col-30">
        <h2 class="gris_letra_titulo pull-right">{{ titulo }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
      <a ui-sref="{{tipo}}" class="button button-full button-large button-positive">
        Comenzar Registro
      </a>
    </div>
  </div>


</ion-content>
</ion-view>