<ion-view view-title="OccMundial - Registro Completado">
  <ion-content ng-controller="CompletadoCtrl" class="padding">
    <div class="row">
              <div class="col col-70">
                <a ui-sref="bienvenida"><img src="img/logo.png"   width="100%"></a>
                
              </div>     
      <div class="col col-30">
        <h2 class="gris_letra_titulo pull-right">Registro Completado</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="text-center"><h3>Registro Completado</h3></div>
        <a ng-click="modificar()"  class="button button-full button-large button-stable">
          Modificar Anterior
        </a>
        <a ui-sref="{{tipo}}" class="button button-full button-large button-positive">
          Nuevo Registro
        </a>
    </div>
  </div>


</ion-content>
</ion-view>