/* Empty. Add your own CSS if you like */
body{
    background: #f2f2f2;
}
.gris_letra_titulo{
    color:#7f7f7f;
}
.pull-right{
    float:right;
}
.justify{
	text-align: justify;
}
input[type="date"]:before{
    color:lightgray;
    content:attr(placeholder);
}